.container {
  position: relative;
  width: 500px;
  height: 50px;
  margin-top: 40px;
  .input {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    padding: 0 50px 0 20px;
  }
  .addBtn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 5px;
    border: none;
    border-radius: 6px;
    background-color: #548eaa;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    .addImg {
      width: 20px;
      height: 20px;
    }
  }
  .addBtn:hover {
    background-color: #7aaec8;
    transform: scale(110%);
  }
  .addBtn:active {
    background-color: #44728a;
  }
  .input::placeholder {
    color: #548daa5e;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 500px;
    display: flex;
    justify-content: center;
    .input {
      width: 300px;
      height: 40px;
      font-size: 20px;
    }
    .input::placeholder {
      font-size: 20px;
    }
    .addBtn {
      width: 30px;
      height: 30px;
      top: 5px;
      right: 105px;
      border-radius: 8px;
    }
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 400px;
    margin-top: 20px;
    .input {
      width: 240px;
      height: 34px;
    }
    .addBtn {
      width: 28px;
      height: 28px;
      top: 3px;
      right: 84px;
    }
  }
}

@media screen and (max-width: 325px) {
  .container {
    width: 300px;
    .input {
      width: 200px;
    }
    .addBtn {
      right: 54px;
    }
  }
}
