.containerTodo {
  width: 700px;
  height: 80px;
  margin-bottom: 6px;
  background-color: #dad9d9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  .doneBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    transition: transform 0.15s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c2c2c2;
    .doneImg {
      width: 24px;
      height: 24px;
      opacity: 0;
    }
    .toggleImg {
      width: 24px;
      height: 24px;
      opacity: 1;
    }
  }
  .doneBtn:hover {
    transform: scale(110%);
    .doneImg {
      opacity: 0.4;
    }
  }
  .doneBtn:active {
    .doneImg {
      opacity: 1;
    }
  }
  .todoTitle {
    width: 400px;
    font-size: 24px;
    overflow-x: scroll;
    text-align: center;
  }
  .removeBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 0, 0, 0.428);
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    .trashSvg {
      width: 24px;
      height: 24px;
      fill: white;
    }
  }
  .removeBtn:hover {
    transform: scale(110%);
    background-color: rgba(255, 0, 0, 0.631);
  }
  .removeBtn:active {
    background-color: rgba(255, 0, 0, 1);
  }
}

@media screen and (max-width: 767px) {
  .containerTodo {
    width: 500px;
    height: 50px;
    .doneBtn {
      width: 30px;
      height: 30px;
    }
    .todoTitle {
      width: 300px;
    }
    .removeBtn {
      width: 30px;
      height: 30px;
      .trashSvg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .containerTodo {
    width: 400px;
    padding: 0 30px;
    .doneBtn {
      width: 24px;
      height: 24px;
      .doneImg {
        width: 20px;
        height: 20px;
      }
      .toggleImg {
        width: 20px;
        height: 20px;
      }
    }
    .todoTitle {
      width: 240px;
    }
    .removeBtn {
      width: 24px;
      height: 24px;
      .trashSvg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

@media screen and (max-width: 325px) {
  .containerTodo {
    width: 300px;
    padding: 0 10px;
    .doneBtn {
      width: 24px;
      height: 24px;
      .doneImg {
        width: 20px;
        height: 20px;
      }
      .toggleImg {
        width: 20px;
        height: 20px;
      }
    }
    .todoTitle {
      width: 200px;
    }
    .removeBtn {
      width: 24px;
      height: 24px;
      .trashSvg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
