.selectionBlock {
  width: 700px;
  height: 40px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .selectList {
    display: flex;
    align-items: center;
    flex-direction: row;

    :not(li:first-child) {
      margin-left: 10px;
    }
    .activeBlock {
      border: 1px solid #fff;
      padding: 0 10px;
      border-radius: 4px;
      background-color: #fff;
      color: #548eaa;
    }
  }
  .notActiveBlock {
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
  }
  .notActiveBlock:hover {
    transform: scale(120%);
  }
}

@media screen and (max-width: 767px) {
  .selectionBlock {
    width: 500px;
    font-size: 14px;
  }
}

@media screen and (max-width: 575px) {
  .selectionBlock {
    width: 400px;
    margin-top: 10px;
    font-size: 12px;
    .selectList {
      :not(li:first-child) {
        margin-left: 6px;
      }
    }
    .notActiveBlock:hover {
      transform: scale(110%);
    }
  }
}

@media screen and (max-width: 325px) {
  .selectionBlock {
    width: 260px;
    font-size: 10px;
  }
}
